body{
    background-image: url('images/bobinsky.png');
    height: 100%;
    background-repeat: repeat;
    background-size: auto 30%;
    background-position: center;
    color: white;
    background-color: #154447;   
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    /*margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;*/
    justify-content: center;
}
.letterbox{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 3px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: black;
    border-width: 3px;
    padding: auto;
}


#pogpop{
    color: white;
    height: 300px;
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 54.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #353839;
    border-radius: 10px;
    align-items: center;
    visibility: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    font-weight: lighter;
    /* border-style: solid; */
    /* border-color: slategray; */
    /* border-width: 5px; */
}

.wiggle{
    position: relative;
    animation-name: wiggle;
    animation-duration: 0.3s;
}

.fade{
    animation-name: poggies;
    animation-duration: 1.5s;
}

@keyframes poggies {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes wiggle {
    0%{margin: 0px;}
    50%{margin: 10px;}
    100%{margin: 0px;}
}

.closebut{
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border-color: white;
    background: #252829;
    color: white;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
}
